**/__pycache__/
**/.DS_Store
**/.github/
**/.vscode/

Moirai/dataset/
Moirai/outputs/
Moirai/model/

Moirai-MoE/dataset/
Moirai-MoE/outputs/
Moirai-MoE/processed/
Moirai-MoE/model/

Time-MoE/dataset/
Time-MoE/logs/
Time-MoE/TimeMoE-200M/

Timer/checkpoints/
Timer/dataset/
Timer/test_results/

TimeTTM/build/
TimeTTM/datasets/
TimeTTM/ttm_finetuned_models/
